<!-- Подпишемся на изменения, чтобы Angular обновлял представление,
иначе компонент не перерисуется из-за страгии OnPush и той же ссылки на объект FormControl -->
<ng-container *ngIf="control.statusChanges | async">
    <ng-container *ngIf="control.errors">
        <mat-error
            *ngIf="control.errors.required"
            automation-id="error-required"
            class="control-error"
        >
            Поле обязательно для заполнения
        </mat-error>
        <mat-error
            *ngIf="control.errors.email"
            automation-id="error-email"
            class="control-error"
        >
            Неверный формат E-mail
        </mat-error>
        <mat-error
            *ngIf="control.errors.minlength"
            automation-id="error-minlength"
            class="control-error"
        >
            Пароль должен быть не менее
            {{ control.errors.minlength.requiredLength }} символов. Сейчас
            {{ control.errors.minlength.actualLength }} символов
        </mat-error>
    </ng-container>
</ng-container>
