@color-white: #fff;
@color-black: #000;
@color-border: #c1c1c1;
@color-gray: #666;
@color-gray-light: #d1d1d1;
@color-gray-extra-light: #f1f1f1;
@color-gray-extra-light2: #f5f5f5;
@color-warning: #fab619;
@color-error: #e01f19;
@color-success: #31af91;
